.bg6{
    background-color: #2f454f;
}
.px{
    padding: auto;
    margin: auto;
    padding-left:auto;
}
.ma{
    /* max-width: 80%; */
    /* margin-right: auto; */
    /* margin-left: auto; */
    
   
}